{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
    <title>EconRecovery</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    </head>

    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-0">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'index_view' %}">EconRecovery</a>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item"><a class="nav-link" href="{% url 'countries_view' %}">Country data</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'average_view' %}">Average</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'world_view' %}">World data</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'predictions_view' %}">Predictions</a></li>
                        <li class="nav-item"><a class="nav-link active" href="{% url 'about_view' %}">About</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    
        <div class="container-fluid">    
            <div class="row content">
                <div class="col-sm-3 sidenav">
                </div>

                <div class="col-sm-6">    
                    <div class="data-content">
                        <h2>Mini-project for Introduction to Data Science 2021</h2>
                        <p>Seungwon Jang, Mikita Kulbitski, Lauri Vuorenkoski</p>
                        <h3>Features</h3>
                        {% for f in features %}
                            <h4>{{f.name}}</h4>
                            <p>Source: {{f.source}}</p>
                            <p>Short description: {{f.short_description}}</p>
                            <p>Link: <a href="{{f.link}}">{{f.link}}</a></p>
                            <p>{{f.description}}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <footer class="py-4 text-center">
                    <p>Economic recovery from COVID-pandemic, 2021</p>
                </footer>
            </div>
        </div>

    </body>
</html>