{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
    <title>EconRecovery</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    </head>

    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-0">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'index_view' %}">EconRecovery</a>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item"><a class="nav-link active" href="{% url 'countries_view' %}">Country data</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'average_view' %}">Average</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'world_view' %}">World data</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'clustering_view' %}">Clustering</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'about_view' %}">About</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    
        <div class="container-fluid">    
            <div class="row content">
                <div class="col-sm-3 sidenav">
                    <h3>Choose country or area</h3>
                    <form action="/countries" method="POST">
                        {% csrf_token %} 
                        <select class="form-select" id="area" name="area">
                        {% for c in countries %}
                            {% if c == area %}
                                <option value="{{ c }}" selected="selected">{{ c }}</option>
                            {% else %}
                                <option value="{{ c }}">{{ c }}</option>
                            {% endif %}
                        {% endfor %}
                        </select><br>
                        <input class="btn btn-primary" type="submit" value="Choose">
                    </form>
                </div>

                <div class="col-sm-6">    
                    <div class="data-content">
                        <div class="row">
                            {% if area is not None %}
                                <h1>Area data for {{area}}</h1>
                                <hr>
                            {% endif %}
                        </div>

                        <div class="row">
                            {% if gdp is not None %}
                                <h2>GDP growth rate</h2>
                                <canvas id="chart"></canvas>
                                <hr>
                            {% endif %}
                        </div>

                        <div class="row">
                            {% if covid is not None %}
                                <h2>Covid deaths and vaccinations</h2>
                                <canvas id="covid-chart"></canvas>
                                <hr>
                            {% endif %}
                        </div>

                        <div class="row">
                            {% if datatable is not None %}  
                                <h2>Other datapoints</h2>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Year</th>
                                            <th>Item</th>
                                            <th>Value</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for i in datatable %}
                                            <tr>
                                                <td>{{i.year}}</td>
                                                <td>{{i.name}}</td>
                                                <td>{{i.value}}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <footer class="py-4 text-center">
                    <p>Economic recovery from COVID-pandemic, 2021</p>
                </footer>
            </div>
        </div>

        <script>
            var ctx = document.getElementById('chart').getContext('2d');
            var options = {
                layout: {
                    padding: 10
                },
                plugins: {
                    legend: {
                        labels: {
                            font: {
                                size: 16
                            }
                        }
                    }
                },
            };
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: JSON.parse('{{gdp|escapejs}}'),
                options: options
            });

            var ctx2 = document.getElementById('covid-chart').getContext('2d');
            var options = {
                layout: {
                    padding: 10
                },
                plugins: {
                    legend: {
                        labels: {
                            font: {
                                size: 16
                            }
                        }
                    }
                },
                scales: {
                    A: {
                        type: 'linear',
                        position: 'left',
                        ticks: {
                            color: 'rgba(0, 0, 128, 0.5)',
                            callback: function(value, index, values) {
                                return value + ' %';
                            }
                        },
                        min: 0,
                        max: 100
                    },
                    B: {
                        type: 'linear',
                        position: 'right',
                        ticks: {
                            color: 'rgba(0, 128, 0, 0.5)',
                        }
                    }, 
                }
            };
            var myChart = new Chart(ctx2, {
                type: 'line',
                data: JSON.parse('{{covid|escapejs}}'),
                options: options
            });

        </script>
    </body>
</html>