{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
    <title>EconRecovery</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    </head>

    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>                        
                </button>
                <a class="navbar-brand" href="{% url 'index_view' %}">EconRecovery</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{% url 'countries_view' %}">Country data</a></li>
                    <li><a href="{% url 'average_view' %}">Average</a></li>
                    <li><a href="{% url 'world_view' %}">World data</a></li>
                    <li><a href="{% url 'predictions_view' %}">Predictions</a></li>
                    <li><a href="{% url 'about_view' %}">About</a></li>
                </ul>
                </div>
            </div>
        </nav>
    
        <div class="container-fluid">    
            <div class="row content">
                <div class="col-sm-3 sidenav">
                    <h3>Choose country or area</h3>
                    <form action="/countries" method="POST">
                        {% csrf_token %} 
                        <select id="area" name="area">
                        {% for c in countries %}
                            {% if c == area %}
                                <option value="{{ c }}" selected="selected">{{ c }}</option>
                            {% else %}
                                <option value="{{ c }}">{{ c }}</option>
                            {% endif %}
                        {% endfor %}
                        </select><br>
                        <input type="submit" value="Choose">
                    </form>
                </div>
                <div class="col-sm-1 text-left"> 
                </div>
                <div class="col-sm-6 text-left"> 

                    <div class="row">
                        {% if area is not None %}
                            <h1>Area data for {{area}}</h1>
                            <hr>
                        {% endif %}
                    </div>

                    <div class="row">
                        {% if gdp is not None %}
                            <canvas id="chart"></canvas>
                            <hr>
                        {% endif %}
                    </div>

                    <div class="row">
                        {% if datatable is not None %}  
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Area</th>
                                        <th>Year</th>
                                        <th>Item</th>
                                        <th>Value</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in datatable %}
                                        <tr>
                                            <td>{{i.Area}}</td>
                                            <td>{{i.Year}}</td>
                                            <td>{{i.Item}}</td>
                                            <td>{{i.Value}}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm-1 text-left"> 
                </div>
            </div>
        </div>

    <footer class="container-fluid text-center">
    <p>Economic recovery from COVID-pandemic, 2021</p>
    </footer>

    <script>
        var ctx = document.getElementById('chart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: JSON.parse('{{gdp|escapejs}}'),
        });
        </script>
    </body>
</html>